* {
    letter-spacing: 1px;
}

.banner-area {
    margin-top: 100px;
    position: relative;
}

.white-mask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, #ffffff00, white);
}

.web-img {
    width: 100%;
    object-fit: cover;
}

.mobile-img {
    display: none;
}

.list-container {
    width: 86vw;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}

.title-area .title {
    margin-top: 40px;
    font-size: 2.5rem;
    font-weight: 600;
    color: #ec6c81;
    text-align: center;
    cursor: default;
}

.title-area .title span {
    position: relative;
}

.title-area .title span:nth-child(1)::after {
    content: '';
    position: absolute;
    top: 26px;
    right: -47px;
    width: 60px;
    height: 55px;
    background: url(../fittrip/images/airplane.png);
}

.title-area .title2 {
    padding: 5px 20px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    background-color: #ec6c81;
    border-radius: 30px;
}

.information {
    display: block;
    margin: 4rem 1.5rem;
}

.text-content {
    display: flex;
    justify-content: space-around;
}

.icon-box img {
    max-width: 90px;
    /* width: 100%; */
}

.text-area,
.text-area2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-box {
    padding: 1rem;
    text-align: center;
}

.text-box h3 {
    margin: 0.6rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: #21569c;
}

.text-box p {
    font-size: 1.2rem;
    color: #414141;
    font-weight: 600;
    line-height: 27px;
}

.text-area2 {
    margin-top: 3rem;
}

.text-area2 .text-box span {
    position: relative;
    display: inline-block;
    margin: 1rem;
    color: #414141;
    font-size: 1.2rem;
    font-weight: 600;
}

.text-area2 .text-box div span img {
    display: inline-block;
    margin-right: 0.5rem;
    width: 100%;
    max-width: 25px;
    vertical-align: bottom;
}

.text-area2 .text-box span::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 35px;
    width: 85%;
    height: 9px;
    background-color: #ffec7b;
    z-index: -99;
}

@media (max-width: 960px) {
    .text-box h3 {
        font-size: 1.2rem;
    }

    .text-box p {
        font-size: 1rem;
        line-height: 23px;
    }

    .text-area2 .text-box span {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .banner-area {
        margin-top: 70px;
    }
}

@media (max-width: 750px) {
    .title-area .title {
        margin-bottom: -2.5rem;
    }

    .text-content {
        flex-direction: column;
        margin-top: 1.5rem;
    }

    .text-area,
    .text-area2 {
        margin-top: 3rem;
    }
}

@media (max-width: 480px) {
    .white-mask {
        position: absolute;
        bottom: -2px;
        left: 0;
    }

    .web-img {
        display: none;
    }

    .mobile-img {
        width: 100%;
        display: block;
        object-fit: cover;
    }

    .title-area {
        margin: 4rem 0 0;
    }

    .title-area .title {
        margin-top: -2.2rem;
        font-size: 1.7rem;
    }

    .title-area .title2 {
        font-size: 0.825rem;
    }

    .information {
        margin: 0 0 4rem 0;
    }

    .text-area,
    .text-area2 {
        margin-top: 3rem;
    }

    .icon-box img {
        max-width: 70px;
    }

    .text-box {
        padding: unset;
    }

    .text-box p {
        font-size: 0.9rem;
    }

    .text-area2 .text-box span {
        margin: 0.6rem;
    }

    .text-area2 .text-box div span img {
        max-width: 20px;
    }
}
