/*遊輪館*/
#cruise_TopBanner {
	clear: both;
	float: none;
}
#cruise_content {
	background-color: #FFF;
	background-image: url(http://www.artisan.com.tw/images/cruise/bg01.jpg);
	background-repeat: repeat-x;
	width: 1126px;
	float: none;
	height: auto;
	overflow: hidden;
}
#cruise_index_left {
	width: 220px;
	float: left;
	margin-left: 58px;
	background-color: #FFF;
	padding-bottom: 50px;
}
#cruise_left_pic01  {
	float: left;
	height: 149px;
	width: 220px;
}
#cruise_leftmenu {
	background-image: url(http://www.artisan.com.tw/images/cruise/bg02.jpg);
	height: 220px;
	width: 160px;
	float: left;
	background-repeat: repeat;
	padding-bottom: 40px;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 20px;
}
#cruise_leftmenu table tr td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F69;
	line-height: 40px;
	text-align: center;
	font-family: "微軟正黑體";
	font-size: 16px;
	color: #FFF;
}
#cruise_leftmenu table tr td a {
	color: #FFFFFF;
	text-decoration: none;
}
#cruise_leftmenu table tr td a:hover {
	color: #EEEEEE;
	text-decoration: none;
}


#cruise_indexVideo {
	margin-top: 10px;
	float: left;
	width: 220px;
	height: 160px;
}
#cruise_indextel {
	float: left;
	height: 98px;
	width: 220px;
	margin-top: 10px;
}


#cruise_left_pic02  {
	float: left;
	width: 220px;
	height: 285px;
	margin-top: 15px;
	margin-bottom: 10px;
}
#cruise_left_icon {
	float: left;
	width: 220px;
	height: 100px;
	padding-top: 30px;
}


#cruise_index_right {
	background-color: #FFF;
	width: 784px;
	float: left;
	margin-right: 64px;
	height: auto;
	overflow: hidden;
}
#cruise_top_menu {
	background-image: url(http://www.artisan.com.tw/images/cruise/menu_bg.jpg);
	float: left;
	height: 52px;
	width: 727px;
	margin-top: 10px;
	margin-right: 28px;
	margin-bottom: 10px;
	margin-left: 28px;
	text-align: center;
	color: #FFF;
	font-family: "微軟正黑體";
	font-size: 15px;
	line-height: 16px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.top_link {
	float: left;
	width: auto;
	padding-right: 16px;
	padding-left: 15px;
	font-family: "微軟正黑體";
	font-size: 15px;
	text-align: center;
	line-height: 53px;
	color: #FFF;text-decoration:none;
}
.top_link:hover {
	color: #FFF;
	text-decoration: none;
	background-image: url(http://www.artisan.com.tw/images/cruise/menu_active.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	line-height: 53px;
}

.top_link_active {
	background-image: url(http://www.artisan.com.tw/images/cruise/menu_active.jpg);
	float: left;
	width: auto;
	padding-right: 20px;
	padding-left: 20px;
	line-height: 53px;
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #FFF;
	background-repeat: repeat-x;
}



.top_link_line {
	float: left;
	height: auto;
	width: auto;
	margin-top: 15px;
}



#cruise_Featured_Itineraries {
	margin-left: 28px;
	float: left;
	width: 728px;
	margin-top: 5px;
	margin-bottom: 20px;
}
.cruise_area_title {
	width: 533px;
	background-image: url(http://www.artisan.com.tw/images/cruise/titile_bg.jpg);
	float: left;
	margin-left: 28px;
	height: 26px;
	color: #b80000;
	font-family: "微軟正黑體";
	font-size: 20px;
	font-weight: bold;
	padding-left: 50px;
	padding-top: 4px;
	letter-spacing: 1px;
}
.cruise_more_icon {
	float: left;
}
.cruise_tourlist {
	background-image: url(http://www.artisan.com.tw/images/cruise/bg03.jpg);
	float: left;
	width: 728px;
	margin-left: 28px;
	background-position: right top;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	height: 260px;
	padding-top: 15px;
}

.tourList_pic  {
	background-image: url(http://www.artisan.com.tw/images/cruise/pic_bg.jpg);
	height: 207px;
	width: 272px;
	padding-top: 22px;
	padding-right: 18px;
	padding-bottom: 18px;
	padding-left: 19px;
}
.cruise_tourlist table tr td table tr td {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCC;
	font-size: 13px;
	font-family: "新細明體";
	color: #666;
	letter-spacing: 0px;
line-height:16px;
padding-top:8px;
padding-bottom:8px;
}
.cruise_tourlist table tr td table tr td a {
	color: #666;
	text-decoration: none;
}
.cruise_tourlist table tr td table tr td a:hover {
	color: #09F;
	text-decoration: none;
}

.cruise_tourlist table tr td table tr td .price_red {
	color: #F00;
}
#cruise_exh_title {
	float: left;
	background-image: url(http://www.artisan.com.tw/images/cruise/title_bg02.jpg);
	width: 717px;
	margin-left: 28px;
	line-height: 36px;
	font-family: "微軟正黑體";
	color: #4f4f4f;
	font-style: italic;
	font-size: 20px;
	font-weight: bold;
	background-repeat: no-repeat;
	letter-spacing: 1px;
	padding-left: 10px;
	margin-bottom: 15px;
	margin-top: 10px;
}
.title_red {
	color: #e30000;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 20px;
	font-weight: normal;
}
#cruise_exh_dmTool {
	float: left;
	width: 726px;
	margin-left: 28px;
	text-align: center;
	margin-bottom: 20px;
	height: 630px;
}
.cruise_exh_tourlist {
	background-image: url(http://www.artisan.com.tw/images/cruise/bg03.jpg);
	float: left;
	width: 728px;
	margin-left: 28px;
	background-position: right top;
	background-repeat: no-repeat;
	margin-bottom: 30px;
	height: 270px;
	padding-top: 15px;
}

.cruise_exh_tourlist table tr td table tr td {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCC;
	line-height: 32px;
	font-size: 13px;
	font-family: "新細明體";
	color: #666;
	letter-spacing: 1px;
}
.cruise_exh_tourlist table tr td table tr td a {
	color: #666;
	text-decoration: none;
}
.cruise_exh_tourlist table tr td table tr td a:hover {
	color: #09F;
	text-decoration: none;
}


/* 日本遊輪館 */
#cruise_Topmap {
	float: left;
	width: 1127px;
	clear: both;
	height: auto;
	margin-bottom: 3px;
}
#Topmap_left_japan {
	float: left;
	height: 552px;
	width: 875px;
	background-image: url(http://www.artisan.com.tw/images/cruise/japan/japan_bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

#Topmap_left_alaska {
	float: left;
	height: 552px;
	width: 875px;
	background-image: url(http://www.artisan.com.tw/images/cruise/alaska/alaska_bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

#Topmap_left_mediterranean {
	float: left;
	height: 552px;
	width: 875px;
	background-image: url(http://www.artisan.com.tw/images/cruise/mediterranean/mediterranean_bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

#Topmap_left_keelung {
	float: left;
	height: 552px;
	width: 875px;
	background-image: url(http://www.artisan.com.tw/images/cruise/keelung/keelung_bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

#Topmap_left_NorthEurope {
	float: left;
	height: 552px;
	width: 875px;
	background-image: url(http://www.artisan.com.tw/images/cruise/NorthEurope/NorthEurope_bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

#Topmap_left_America {
	float: left;
	height: 552px;
	width: 875px;
	background-image: url(http://www.artisan.com.tw/images/cruise/America/America_bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}


#Topmap_right {
	float: left;
	width: 200px;
}


#cruise_menu_tool {
	background-image: url(http://www.artisan.com.tw/images/exh/exh_menubg.jpg);
	background-repeat: repeat-x;
	height: 68px;
	clear: both;
	float: none;
	padding-right: 20px;
	padding-left: 0px;
	text-decoration:none;
}

.cruise_menu_list_change {
	float: left;
	width: 145px;
	padding-top: 12px;
	padding-bottom: 13px;
	height: 41px;
	text-align: center;
	padding-right: 0px;
	text-decoration: none;
	background-image: url(http://www.artisan.com.tw/images/exh/exh_menubg_change.jpg);
}
.cruise_exh_menu01_change {
	color: #FFF;
	font-family: "微軟正黑體";
	font-size: 17px;
}

.cruise_menugrip01 {
	float: left;
	background-image: url(http://www.artisan.com.tw/images/exh/exh_menubg_change.jpg);
}

.cruise_exh_menu_list{
	float: left;
	width: 165px;
	padding-top: 15px;
	padding-bottom: 13px;
	height: 41px;
	text-align: center;
	text-decoration: none;
}


.cruise_exh_tourlist table tr td table tr td .price_red {
	color: #F00;
}


.japan_map_menu {
	float: left;
	width: 206px;
	height: 94px;
	font-size: 15px;
	font-family: "微軟正黑體";
	line-height: 30px;
	padding: 20px;
	letter-spacing: 1px;
	color: #FFF;
	text-decoration: none;
	background-color: #09C;
	border: 2px solid #CCC;
}

.japan_map_menu:hover {
	color: #FFF;
	background-color: #007297;
}



.alaska_map_menu {
	float: left;
	width: 206px;
	height: 119px;
	font-size: 15px;
	font-family: "微軟正黑體";
	line-height: 30px;
	letter-spacing: 1px;
	color: #FFF;
	text-decoration: none;
	background-color: #09C;
	padding-top: 40px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border: 2px solid #CCC;
}

.alaska_map_menu:hover {
	color: #FFF;
	background-color: #007297;
}


.mediterranean_map_menu {
	float: left;
	width: 206px;
	height: 86px;
	font-size: 15px;
	font-family: "微軟正黑體";
	line-height: 24px;
	letter-spacing: 1px;
	color: #FFF;
	text-decoration: none;
	background-color: #09C;
	padding-top: 64px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
	border: 2px solid #CCC;
}

.mediterranean_map_menu:hover {
	color: #FFF;
	background-color: #007297;
}

.keelung_map_menu {
	float: left;
	width: 206px;
	height: 94px;
	font-size: 15px;
	font-family: "微軟正黑體";
	line-height: 30px;
	padding: 20px;
	letter-spacing: 1px;
	color: #FFF;
	text-decoration: none;
	background-color: #09C;
	border: 2px solid #CCC;
}

.keelung_map_menu:hover {
	color: #FFF;
	background-color: #007297;
}


.NorthEurope_map_menu {
	float: left;
	width: 206px;
	height: 174px;
	font-size: 15px;
	font-family: "微軟正黑體";
	line-height: 30px;
	padding-top: 95px;
	padding-left: 20px;
	padding-right: 20px;
	letter-spacing: 1px;
	color: #FFF;
	text-decoration: none;
	background-color: #09C;
	border: 2px solid #CCC;
}

.NorthEurope_map_menu:hover {
	color: #FFF;
	background-color: #007297;
}


.america_map_menu {
	float: left;
	width: 206px;
	height: 451px;
	font-size: 15px;
	font-family: "微軟正黑體";
	line-height: 30px;
	padding-top: 95px;
	padding-left: 20px;
	padding-right: 20px;
	letter-spacing: 1px;
	color: #FFF;
	text-decoration: none;
	background-color: #09C;
	border: 2px solid #CCC;
}

.america_map_menu:hover {
	color: #FFF;
	background-color: #007297;
}