@charset "UTF-8";

/* CSS Document */

:root{
    --main--color:#950000
}

/*============== ExhTop ==============*/

#ExhMiniTop {
    display: flex;
    flex-wrap: wrap;
}

aside.ExhMiniTop-aside {
    /* width: 25%; */
    padding-left: 40px;
    padding-bottom: 30px;
    position: relative;
}

#ExhMini-banner {
    width: 100%;
    position: relative;
}
#ExhMini-banner img{
    height: 85vh;
    object-fit: cover;
    object-position: center;
}
@media screen and (max-width: 768px){
    #ExhMini-banner img{
        height: 60vh;
    }
}

h1.ExhMiniTop-title {
    margin-bottom: 25px;
    margin-left: -25px;
    margin-top: 30px;
}

h1.ExhMiniTop-title span {
    background: #a33348;
    color: #fff;
    border-radius: 30px;
    padding: 2px 40px;
    font-size: 2.2rem;
    letter-spacing: .05rem;
}

h2.ExhMiniTop-area span {
    border-left: solid 5px #8c001a;
    padding: 0 10px;
    font-size: 2rem;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 108px;
}

aside.ExhMiniTop-aside hr {
    background: #e5e5e5;
    height: 3px;
    margin: 20px 0;
    border: 0;
}

.ExhMini-otherAreas-tool {
    margin-bottom: 20px;
    color: #4e4e4e;
    padding-right: 10px;
}

@media (max-width: 992px) {
    .ExhMini-otherAreas-tool {
        /* display: none; */
    }
}

.ExhMini-otherAreas-link-box{
    overflow: hidden;
    text-align: center;
    height: 30px;
}

.ExhMini-otherAreas-link {
    /* height: 215px; */
    /* padding-right: 15/sspx; */
    /* height: 10px; */
    /* font-size: 10px; */
    overflow: none;
}

@media (max-width: 1280px) {
    .ExhMini-otherAreas-link {
        height: 180px;
        overflow-y: none;
    }
}

@media (max-width: 1024px) {
    .ExhMini-otherAreas-link {
        height: 70px;
        overflow-y: none;
    }
}
@media (max-width: 768px) {
    .ExhMini-otherAreas-link-box{
        height: max-content;
    }
    .ExhMini-otherAreas-link {
        height: max-content;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
.cover{
    height: 100vh;
    position: absolute;
    top:0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    pointer-events: none;
}

.cover .center{
    background-color: #00000080;
    width: 40vw;
    height: 400px;
    border: 3px solid white;
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-weight: 900;
}
@media screen and (max-width: 768px) {
    .cover {
        height: 80vh;
    }
    .cover .center {
        width: 80vw;
        height: 30vh;
        border: 2px solid white;
        border-bottom: 0;
    }
}
.cover .whiteline{
    display: block;
   height: 3px;
   background-color: white;
   width: 8vw;
}
.cover .btn-container{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    top:-28px;
}
.cover .btn-container button{  
    pointer-events: auto;
    color: #950000;
    font-weight: 900;
    font-size: 24px;
    padding: 15px 10%;
    border: 0;
    background-color: rgba(255, 255, 255, 0.718);
    border-radius: 12px;
    cursor: pointer;
}
.cover .btn-container button:hover{
    background-color: #950000;
    color: white;
    transition: .3s;
}
.cover .center .title-h1{
    font-size: 58px;    
}
.cover .center .title-h2 {
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.cover .center .title-h2 span{
    margin-left: 10px;
    margin-right: 10px;
}
.cover .center .title-h3 {
  margin-left: 25px;
  margin-right: 25px;
  line-height: 1.75rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
    .cover .center .title-h1 {
        font-size: 30px;
    }
    .cover .center .title-h2 {
        font-size: 13px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .cover .center .title-h2 span {
        margin-left: 5px;
        margin-right: 5px;
    }
    .cover .center .title-h3 {
        font-size: 10px;
        margin-left: 8px;
        margin-right: 8px;
        line-height: 1.3rem;        
    }
    .cover .btn-container {
        top: -16px;
    }
    .cover .btn-container button {
        font-weight: 900;
        font-size: 12px;
        padding: 10px 30px;
        border-radius: 4px;
        border: 1px solid white;
    }
    .cover .whiteline {
        width: 15vw;
        height: 2px;
    }
}

/* Let's get this party started */

.ExhMini-otherAreas-link::-webkit-scrollbar {
    width: 6px;
}


/* Track */

.ExhMini-otherAreas-link::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


/* Handle */

.ExhMini-otherAreas-link::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(189, 189, 189, 0.5);
}

.ExhMini-otherAreas-link::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(189, 189, 189, 0.5);
}

.ExhMini-otherAreas-link a {
    color: #4e4e4e;
    border: solid 1px #959595;
    padding: 4px 10px;    
    margin: 0 3px 10px 3px;
    display: inline-block;
    border-radius: 5px;
    font-size: .95rem;
    font-weight: bold;
    transition: .2s;
}
@media screen and (max-width: 768px) {
    .ExhMini-otherAreas-link a{
        font-size: 8px;
    }
}

.ExhMini-otherAreas-link a:hover {
    background: #e37989;
    border: solid 1px #e37989;
    color: #fff;
}

.ExhMini-aside-title {
    font-size: .875rem;
    margin-bottom: 15px;
}

.ExhMini-navigate {
    /* position: absolute; */
    bottom: 0px;
    margin: 10px 5px;
    font-size: .875rem;
    color: #0c02de;
}

.ExhMini-navigate a {
    text-decoration: underline;
    color: #000;
}

.ExhMini-navigate a:after {
    content: ">";
    display: inline-block;
    margin-left: 6px;
}


/*============== Exh-banner ==============*/

#ExhMiniBanner-owl-carousel {
    width: 100%;
}

#ExhMiniBanner-owl-carousel .owl-dots {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
}

#ExhMiniBanner-owl-carousel .owl-dots .owl-dot span {
    background: transparent;
    border: solid 1px #b5b5b5;
    margin: 5px;
}

#ExhMiniBanner-owl-carousel .owl-dots .owl-dot.active span,
#ExhMiniBanner-owl-carousel .owl-dots .owl-dot:hover span {
    background: #b5b5b5;
}

.owl-theme .owl-dots .owl-dot {
    outline: none;
}
/*Crumbs*/

#Crumbs{
    margin: 60px 0;
    text-align: center;
}

#Crumbs span{
    font-weight: bold;
    background-color: #950000;
    margin-top: 20px;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
}

#Crumbs span a{
    color: white;
}
@media screen and (max-width: 768px){
    #Crumbs {
        box-sizing: border-box;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #Crumbs span{
        font-size: 14px;
        padding: 12px 20px;
    }
}

/*============== Search ==============*/

#main-search {
    background: #ffffff;
    padding: 20px 0;
}
@media (max-width: 768px) {
    #main-search{
        display: none;
    }
}

#main-search .search-title{
    justify-content: center;
}

#main-search .search-title li{
position: relative;
}

#main-search .search-title li::before{
    position: absolute;
    content: "";
    border-bottom:2px #7f7d7d solid ;
    }

ul.search-title {
    padding: 0 5%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

@media (max-width: 1400px) {
    ul.search-title {
        padding: 0;
    }
}

ul.search-title li {
    font-family: 'Noto Sans TC';
    font-size: 1.125rem;
    padding: 0 12px;
    border-right: solid 1px #8c001a;
}

@media (max-width: 576px) {
    ul.search-title li {
        padding: 0 8px;
    }
}

@media (max-width: 360px) {
    ul.search-title li {
        padding: 0 6px;
    }
}

@media (max-width: 320px) {
    ul.search-title li {
        padding: 0 2px;
    }
}

ul.search-title li:first-of-type {
    font-family: 'Noto Sans TC';
    font-weight: bold;
    font-size: 1.125rem;
}

ul.search-title li:last-of-type {
    border-right: none;
}

ul.search-title li a {
    display: block;
    transition: .5s;
}

ul.search-title li a:hover {
    color: #8c001a;
}

#search-tool {
    border: solid 1px #8c001a;
    border-radius: 20px;
    margin: 0 5%;
    padding: 5px 15px;
    line-height: 21px;
    font-size: .875rem;
    display: flex;
    flex-wrap: wrap;
    color: #767676;
    font-weight: bold;
    background: #fff;
    margin-bottom: 35px;
}
#search-tool2 {
    display: none;
    background-color: #ebebeb;
    line-height: 21px;
    font-size: .875rem;
    padding: 20px;
    flex-wrap: wrap;
    color: #767676;
    font-weight: bold;
}

@media (max-width: 1400px) {
    #search-tool {
        margin: 0;
    }
}

@media (max-width: 768px) {
    #search-tool {
        display: none;
        /*border: none;
        background: transparent;
        border-radius: 0;
        padding: 5px 0;*/
    }
    #search-tool2{
        display: flex;
    }
}
#search-tool2 .category{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: black;
}
#search-tool2 .category span{
    flex: 1 0 25%;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 2px solid #950000;
    box-sizing: border-box;
    white-space: normal;
    word-break: break-all;
}
#search-tool2 .category span:first-child {
    border: none;
}

.searchBox-area {
    width: 30%;
}

.searchBox-date {
    width: 35%;
}

.searchBox-keyword {
    width: 35%;
}

.searchBox-selectArea,
.searchBox-selectCountry {
    width: calc(50% - 42px);
}

.go-box,
.back-box {
    width: calc(50% - 38px);
    position: relative;
    display: inline-block;
}

.go-box img,
.back-box img {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 6px;
    right: 10px;
    pointer-events: none;
}

#flatpickr-go,
#flatpickr-back {
    width: 100%;
}

img.searchBox-area-icon {
    vertical-align: middle;
    margin: 0 5px;
}

#search-tool input ,#search-tool2 input{
    -webkit-appearance: none;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 0;
    color: #333;
    padding: 0 5px;
    line-height: 28px;
    height: 28px;
}

#search-tool select ,#search-tool2 select{
    border: 1px solid #ccc;
    border-radius: 0;
    background: url(../images/20_arrow.png) no-repeat scroll 95% center #fff;
    -webkit-appearance: none;
    color: #333;
    padding: 0 5px;
    height: 28px;
}

.searchBox-keyword input {
    width: calc(100% - 181px);
}

.searchBox-btn {
    font-size: 1rem;
    width: 115px;
    height: 28px;
    display: inline-block;
    padding: 0px 0 0 10px;
    line-height: 26px;
    margin-left: 10px;
    border-left: solid 1px #000;
}

.searchBox-btn a {
    transition: .5s;
}

@media (max-width: 768px) {
    .searchBox-btn a {
        color: #8c001a;
    }
}

.searchBox-btn:hover a {
    color: #8c001a;
}


/*============== ExhMiniHotSale ==============*/

#ExhMiniHotSale {
    padding: 20px 0;
}

h3.main-title {
    font-size: 1.75rem;
    font-family: 'Noto Sans TC';
    padding-bottom: 15px;
    margin-bottom: 20px;
    text-align: center;
}

#ExhMiniHotSale h3.main-title {
    margin-top: 20px;
    position: relative;
}

#ExhMiniHotSale h3.main-title:after {
    content: "";
    background: url(../images/20_exhTitle_icon01.png) no-repeat center center;
    width: 8px;
    height: 30px;
    position: absolute;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);
    background-size: contain;
}

#ExhMiniHotSale-owl-carousel {
    margin-top: 20px;
}

#ExhMiniHotSale-owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    margin: 0;
}

#ExhMiniHotSale-owl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: -5%;
    font-size: 8rem;
    line-height: 0;
    color: #e5e5e5;
}

#ExhMiniHotSale-owl-carousel .owl-nav .owl-next {
    position: absolute;
    right: -5%;
    font-size: 8rem;
    line-height: 0;
    color: #e5e5e5;
}

#ExhMiniHotSale-owl-carousel .owl-nav .disabled {
    opacity: 0;
}

#ExhMiniHotSale-owl-carousel .owl-nav [class*=owl-]:hover,
#ExhMiniHotSale-owl-carousel .owl-nav [class*=owl-]:focus {
    background: transparent;
    outline: none;
}

#ExhMiniHotSale-owl-carousel figure {
    padding-top: 55px;
}

figure.hotSale-box figcaption,
figure.hotSale-video figcaption {
    padding: 5px 10px 5px 10px;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

figure.hotSale-box img,
figure.hotSale-video .video_container {
    transition: .5s;
}

figure.hotSale-box:hover img,
figure.hotSale-video:hover .video_container {
    transform: translateY(-50px);
    box-shadow: 0 0 5px 2px #bdbdbd;
}

figure.hotSale-box p,
figure.hotSale-video p {
    height: 40px;
    color: #767676;
    margin: 0;
    font-weight: bold;
    font-size: .875rem;
    line-height: 21px;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 0 10px;
}

figure.hotSale-box p:before,
figure.hotSale-video p:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left-color: #000;
    margin-left: -10px;
}

figure.hotSale-box a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.video_container {
    position: relative;
    padding-bottom: 80%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video_container iframe,
.video_container object,
.video_container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0 none;
}


/*============== ExhMiniMain ==============*/

#ExhMiniMain {
    padding: 20px 0;
    margin-bottom: 40px;
}

#ExhMiniMain h3.main-title {
    margin-top: 20px;
    position: relative;
    background: url(../images/20_exhTitle_bg.png) no-repeat center center;
    width: 100%;
    height: 34px;
}

@media (max-width: 768px) {
    #ExhMiniMain h3.main-title {
        background: none;
    }
}

/*============== ExhMiniItinerary ==============*/

.ExhMiniItinerary {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.ExhMini-box {
    width: 33.33%;
    padding: 0 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .ExhMini-box {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .ExhMini-box {
        width: 100%;
    }
}

.ExhMini-box-pic {
    position: relative;
    overflow: hidden;
    line-height: 0;
    background: #000;
}

.ExhMini-box-pic img {
    width: 100%;
    transition: .5s;
}

.ExhMini-box:hover .ExhMini-box-pic img {
    opacity: 0.6;
    transform: scale(1.1);
}
.picBrand {
    z-index: 2;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* 品牌icon圖片 */

.brand_T .picBrand {
    background: url(../images/20_exh_Ticon.png) no-repeat;
    background-size: contain;
    width: 118px;
    height: 57px;
    pointer-events: none;
}

.brand_V .picBrand {
    background: url(../images/20_exh_Vicon.png) no-repeat;
    background-size: contain;
    width: 118px;
    height: 57px;
    pointer-events: none;
}

.brand_A .picBrand {
    background: url(../images/20_exh_Aicon.png) no-repeat;
    background-size: contain;
    width: 118px;
    height: 57px;
    pointer-events: none;
}

.brand_G .picBrand {
    background: url(../images/20_exh_Gicon.png) no-repeat;
    background-size: contain;
    width: 118px;
    height: 57px;
    pointer-events: none;
}

.ExhMini-box-area {
    border: solid 1px #aaa;
    border-top: none;
    padding: 25px 5% 15px 5%;
}

h3.ExhMini-box-title {
    font-size: 1.125rem;
    margin-bottom: 15px;
    line-height: 21px;
    height: 42px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: .5s;
}

h3.ExhMini-box-title a {
    display: block;
    transition: .5s;
}

.ExhMini-box-area hr {
    background: #d2d2d2;
    height: 1px;
    border: 0;
}

/* 品牌標題顏色 */

.ExhMini-box.brand_T:hover h3.ExhMini-box-title {
    color: #4a1b86;
}

.ExhMini-box.brand_A:hover h3.ExhMini-box-title {
    color: #8c001a;
}

.ExhMini-box.brand_V:hover h3.ExhMini-box-title {
    color: #67b72d;
}

.ExhMini-box.brand_G:hover h3.ExhMini-box-title {
    color: #e7318c;
}

.ExhMini-box-note {
    font-size: .875rem;
    color: #676767;
    font-weight: bold;
    line-height: 16px;
    height: 34px;
    margin: 15px 0 10px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ExhMini-box-price {
    font-family: Arial;
    font-size: 2.125rem;
    font-weight: bold;
    color: #c10000;
    letter-spacing: .1rem;
}

.ExhMini-box-price:before {
    content: "NT.";
    font-size: 1.125rem;
    color: #000;
    font-family: Microsoft JhengHei, "微軟正黑體";
}

.ExhMini-box-price:after {
    content: "起";
    font-size: 1.125rem;
    color: #000;
    font-family: Microsoft JhengHei, "微軟正黑體";
}

.ExhMini-box-noprice {
    font-size: 1.3rem;
    font-weight: bold;
    color: #c10000;
    letter-spacing: .1rem;
    padding-top: 15px;
    height: 39px;
}

/*============== 平版尺寸 ==============*/

@media (max-width: 768px) {
    /* ExhMiniTop*/
    #ExhMiniTop {
        width: 100%;
    }
    aside.ExhMiniTop-aside {
        width: 90%;
        padding: 0;
        margin: 0 auto;
    }
    aside.ExhMiniTop-aside hr {
        display: none;
    }
    h1.ExhMiniTop-title span {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .ExhMini-navigate {
        position: relative;
    }
    /* Search */
    .searchBox-area {
        width: 45%;
    }
    .searchBox-date {
        width: 55%;
    }
    .searchBox-keyword {
        width: 100%;
        margin-top: 10px;
    }
    .searchBox-btn {
        border: 1px solid #ccc;
        background: #fff;
        margin-left: 2px;
        width: 123px;
    }
    ul.search-title {
        padding-bottom: 10px;
        border-bottom: solid 2px #7d7d7e;
        width: 100%;
    }
    ul.search-title li:first-of-type {
        padding-left: 0;
        font-size: 1rem;
    }
    ul.search-title li {
        font-size: 1rem;
    }
    /* ExhMiniHotSale */
    h3.main-title {
        font-size: 1.5rem;
    }
    h3.main-title span {
        background: #fff100;
        background: linear-gradient(transparent 80%, #fff100 0%);
        padding: 0 10px;
    }
    #ExhMiniHotSale h3.main-title {
        margin-top: 0;
    }
    #ExhMiniHotSale h3.main-title:after {
        width: 4px;
        height: 15px;
        bottom: -3px;
    }
    figure.hotSale-box figcaption, 
    figure.hotSale-video figcaption {
        position: relative;
    }
    #ExhMiniHotSale-owl-carousel .owl-nav {
        top: 30%;
    }
    #ExhMiniHotSale-owl-carousel figure {
        padding-top: 0;
    }
    figure.hotSale-box:hover img,
    figure.hotSale-video:hover .video_container {
        transform: translateY(0);
    }
}

/*============== 手機版尺寸 ==============*/

@media (max-width: 576px) {
    .searchBox-area,
    .searchBox-date {
        width: 100%;
    }
    .searchBox-date {
        margin-top: 10px;
    }
}


/* ~~~~~Andy~~~~ */
/*---------------little-bar----------------*/
#little-bar{
    position: relative;
    width: 100%;
    margin: auto;
    /* max-width: 1280px; */
    background-color: #950000;
    color: white;
    height: 58px;
    margin-top: 10px;
    margin-bottom: 35px;
    font-weight: bolder;
   
}
@media (max-width: 768px){
    #little-bar{
        margin-top: 0;
    }
}

#little-bar::before{
    position: absolute;
    content:'';
    background-color:#c39a60 ;
    width: 100%;
    height: 100%;
    top: -5px;
    z-index: -1;
}

#little-bar .little-bar-box{
    display: flex;
    justify-content: 
    space-between;
    height: 100%;
}

#little-bar .little-bar-box >div{
    display: flex;
    align-items: center;
}


#little-bar .left-box{
    width: 30px;
    height: 100%;
    background-color: #c39a60;
}
#little-bar .little-bar-title{ 
    margin-left:20px ;
font-size: 20px;
}

.txt_box_btn {
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
  }
  
  
  /* .btn_input {
    display: none;
  } */
  
  #little-bar .btn_label {
    height: 32px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    background: #fff;
    border-radius: 50px;
    margin-right: .8rem;
    transition: .5s;
  }
  
  .btn_label:last-of-type {
    margin-right: 0;
  }
  
  #little-bar.btn_svg {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: none !; 
  }
  
  .btn_svg img {
    width: auto;
  }
  
  .btn_txt {
    width: 0;
    overflow: hidden;
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
    padding-left: 0;
    border-radius: 20px;
  }
  
  .btn_label:hover {
    width: 200px;
    transition: .5s;
  }
  
  .btn_label.blog_btn:hover {
    width: 170px;
  }
  
  .btn_label.podcast_btn:hover .btn_txt {
    width: 100%;
    color: #2d4787;
    padding: 0.5rem;
  }
  
  .btn_label.blog_btn:hover .btn_txt {
    width: 100%;
    color: #8c001a;
    padding: 0.5rem;
  }
  
  .podcast_btn:hover .btn_svg {
    cursor: pointer;
    content: url(../images/podcast-2.svg);
  }
  
  .blog_btn:hover .btn_svg {
    cursor: pointer;
    content: url(../images/blog-2.svg);
  }
  
/*---------------/little-bar----------------*/

/* ---------Mini-seasonal----- */
#Mini-seasonal .seasonal-sm-lg-size{
    border-bottom: 1px solid rgb(124, 124, 124);
    margin-bottom: 35px;
}
#Mini-seasonal .seasonal-xl-size{
    border-bottom: 1px solid rgb(124, 124, 124);
    margin-top: 35px;
    padding-bottom: 20px;
}

#Mini-seasonal .left{
text-align: center;
align-items: center;

}
#Mini-seasonal .left img{
    width: 100%;
    margin-bottom: 20px;
}
@media (max-width: 768px){
    #Mini-seasonal .left img{
        border-radius: 20px;
    }
}


#Mini-seasonal .seasonal-title{
    background-color: #51b653;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 8px;
    color: white;
    padding:3px 8px ;
}

#Mini-seasonal .seasonal-from{
    padding:  20px 0 ;
    line-height: 25px;
}

#Mini-seasonal  .seasonal-title-box{
    margin: 10px 0;
}

#Mini-seasonal .seasonal-from-1{
color: #a48c63;
font-weight: bolder;
font-size: 19px;
}

#Mini-seasonal .seasonal-from-2{
font-weight: bolder;
font-size: 13px;
margin-bottom: 10px;
}



#Mini-seasonal .seasonal-from-2 >span{
    white-space:nowrap  ;
}


#Mini-seasonal .space{
    color: #686868;
    /* font-size: 55px; */
}

#Mini-seasonal .price{
    color:  #7c0101;
    font-size: 35px;
    font-weight: bolder;
    margin: 30px 0;
}

#Mini-seasonal .price-icon{
    font-size: 20px;
}

#Mini-seasonal .date-infomation {
    color:#686868 ;
    font-weight: bolder;
    font-size: 12px;
}

#Mini-seasonal .date-infomation span{
border: 1px solid #68686880;
}

.seasonal-xl-size{
display: none;
}



/* -----/Mini-seasonal----- */

/* -----team-go-date----- */
#team-go-date .team-go-date-title{

    background-color: #950000;
    height: 58px;
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bolder;
}

#team-go-date .title-text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 20px;
    
}


#team-go-date .title-text-md,
#team-go-date .team-go-date-input
{
    display: none;
}

#team-go-date .team-go-date-box{
margin-top: 30px;
border-bottom: 1px solid grey;
padding-bottom: 20px;
margin-bottom: 15px;
}

#team-go-date .box1 {
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    margin: 10px;
}
#team-go-date .box1 div:nth-child(1) {
    margin-right: 10px;
}

#team-go-date .box2 div:nth-child(1) {
    font-size: 15px;
    font-weight: bolder;
    }

#team-go-date .box2 div:nth-child(2) {
    font-size: 11px;
    font-weight: bolder;
color: #9a7049;
}

#team-go-date .box3 >div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right:15px ;

}

#team-go-date .box3{
    display: flex;
    justify-content: space-between;
    margin-top:30px ;
    /* width: 100%; */
}

#team-go-date .box3 .left > div:nth-child(-n+2){
margin-right: 40px;
}
@media (max-width: 768px){
    #team-go-date .box3 .left>div:nth-child(-n+2) {
        margin-right: 15px;
    }
    #team-go-date .box3>div {
        white-space: nowrap;
    }
}

#team-go-date .box3 .right button{
margin-left: 20px;
white-space:nowrap;
}

#team-go-date .box3 .right .price{
    font-size: 28px;
    font-weight: bold;
    padding:0 10px;
}
@media (max-width: 768px) {
    #team-go-date .box3 .right .price {
        font-size: 20px;
    }
    #team-go-date .box3 .right button {
        font-size: 12px;
    }
}

/* #team-go-date .box3 div:nth-child(1) {
width: 40%;
    }

#team-go-date .box3 div:nth-child(2) {
width: 40%;
    } */

#team-go-date .team-status{
    width: 60px;
    white-space:nowrap;
    text-align: center;
}

#team-go-date .price{
color: #950000;
font-size: 20px;
}

#team-go-date button{
    border-radius: 20px;
    padding: 4px 16px;
    font-weight: bold;
    background-color: transparent;
} 


#page .page-box{
    display: flex;
  justify-content: center;
  margin: 6em auto 4em;
}

#page .page-box a{
    margin: 0 15px;
}
#page .page1{
    display: none;
}

@media (min-width: 768px) {

    #Mini-seasonal .Mini-seasonal-box
    {
display: flex;
/* align-items: flex-end; */
    }

    #Mini-seasonal .right{
        padding-left: 20px;
        padding-top: 6px;
    }

    #Mini-seasonal .price{
        margin: 0;
        white-space:nowrap;
    }

    #Mini-seasonal .space-price-box{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 10px;
    }

    #team-go-date .title-text{
        display: none;
    }

#team-go-date .team-go-date-high{
    height: 100%;
}

    #team-go-date .title-text-md{
        display: flex;
        /* justify-content: space-between; */
        width: 100%;
        font-size: 20px;
        height: 100%;
        justify-content: center;
        align-items: center;
        
    }

    #team-go-date .title-text-md >div:nth-child(1) {
        padding: 0 30px;
        text-align: center;
      }

    #team-go-date .title-text-md .right{
        margin-left: auto;
        display: flex;
    }
    #team-go-date .title-text-md .right div{
padding: 0 11px;
    } 
    #team-go-date .title-text-md .right div:nth-child(4){
        padding-right: 50px;
        padding-left: 10px;
            } 

            #team-go-date .title-text-md .right div:nth-child(5){
        
                padding-left:0 ;
                padding-right: 20px;
                    } 
        

    #team-go-date .team-go-date-input{
        /* display: block; */
        display: flex;
        justify-content: space-between;
        font-size: 12px;
    }

    #team-go-date .team-go-date-box{
        display: flex;
        align-items: center;
    }

    #team-go-date .box1{
margin-right: 30px;
        flex-direction: column;
    }

    #team-go-date .box2{
        padding-right: 24px;
        height: 100%;
        font-size: 20px;
/* display: flex;
align-items: center;
        flex-direction: column; */
    }

    #team-go-date .box2 div:nth-child(1){
        font-size: 15px;
    }
    #team-go-date .box2 div:nth-child(2){
        font-size: 13px;
    }
    #team-go-date .box3{
        margin-left: auto;
        margin-top: 0;
    }
    #team-go-date .box3 .right{
        margin-left: 20px;
    }

    #team-go-date .already{
        color: #f19301
    }
    #team-go-date .already-soon{
       color:  #ec006f
    }
    #team-go-date .can-add{
        color: #8d0019
    }
    #team-go-date .can-sin-up{
        color: #005fff;
    }
    #team-go-date  .can-go{
        color: #f10100;
    }
    #team-go-date .right span{
        border-right: #000 solid 1px;
        padding: 0 10px;
        font-size: 15px;
    }
    #team-go-date .right span:last-child{
        border-right:none
    }

    #page span{
        display: none;
    }
    #page .page1 {
        display: block ;
    }
}

@media (min-width: 1280px) {
#Mini-seasonal .seasonal-sm-lg-size{
    display: none;
}
#Mini-seasonal .seasonal-xl-size{
    display: block;
}

#Mini-seasonal .Mini-seasonal-box{
    margin-top: 20px;
}

#Mini-seasonal .seasonal-lg-size .seasonal-box{
    align-items: center;
}

#Mini-seasonal .price-infomation-box{
    display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 20px;
}

#Mini-seasonal .date-infomation {
    font-size: 18px;
    width: auto;
    text-align: center;
    }

#Mini-seasonal .price{
    margin: 0;
}
}