@charset "utf-8";
/* CSS Document */

body {
	    background-color: #f2f2f2;
	    margin: 0px;
		font-family: "微軟正黑體","Verdana";
}
img {
	border:0px;
}
#wrapper {
	    width: 1100px;
	    margin-right: auto;
	    margin-left: auto;
}


#header_new {
	    height: 545px;
	    width: 1100px;
	    margin-right: auto;
	    margin-left: auto;
	    
}
#header {
	height: auto;
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
}
.header_banner {
	background-image: url(../images/index16/banner.jpg);
	border: 10px solid #FFF;
	height: 525px;
	width: 1080px;
	background-repeat: no-repeat;
	background-position: center top;
}
#logo_area {
	float: left;
	margin-left: 25px;
	width: 400px;
	position: absolute;
	z-index: 2;
	margin-top: 8px;
}

#top-bar{
	     position:fixed;
             top:101px;
             z-index: 3;
}

/*#content {
	border:solid #ffffff 10px;
	height:auto;
	overflow:hidden;
	width:auto;  
	}
.ad {
        border: 10px solid #FFF;
	    height: 525px;
	    width: 1080px;
	    position: absolute;
	    z-index: 1;
}*/
#header_link01 {
	float: left;
	width: 100px;
	margin-top: 50px;
}
#header_link02 {
	float: right;
	margin-top: 80px;
	font-size: 12px;
	color: #FFF;
	text-shadow: 1px 1px 3px #1e3140;
	letter-spacing: 1px;
	width: 320px;
	position: relative;
	z-index: 2;
}
#header_link02 a{
	    color: #FFF;
	    text-decoration: none;
}
#header_link02 a:hover{
	    color: #bd0008;
	    text-decoration: underline;
}
/* Header Menu CSS */
#menu {
    margin: 0;
	/*padding: 0;*/
    padding-left: 12px;
    width: 100%;
	list-style: none;
	position: relative;
    float: left;
}
#menu li {
	margin: 0;
	padding: 0;
	float: left;
	/*border-right: 1px solid #999;*/
}
#menu li a {
	/*padding: 10px 15px;
	display: block;
	color: #fff;
    width:200px;*/
	text-decoration: none;
}
#menu li ul {
	/*margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
    top : 38px;
	left: 0;*/
    /*float: left;*/
	/*width: 100%;*/
	/*color: #fff;*/
	/*background: #06c url('bottom.gif') no-repeat bottom;*/
	display: none;list-style-type: none;
}
#menu li ul li { 
}
/*#menu li ul li a { display: inline; }*/
/*#menu li ul li a:hover { text-decoration: underline; }*/
#main_nav  {
	width: 1102px;
	background-image: url(../images/index16/menu_bg.png);
	line-height: 36px;
	height: 36px;
	background-repeat: no-repeat;
	font-family: "微軟正黑體";
	font-size: 12px;
	padding-top: 2px;
	padding-bottom: 1px;
	padding-right: 0px;
	/*margin-top: 101px;*/
	position: absolute;
	z-index: 2;
	margin-left: -2px;
	background-position: left top;
	/*padding-left: 12px;*/
}
.main_menu01 {
	float: left;
	padding-right: 16px;
	padding-left: 17px;
	letter-spacing: 2px;
	color: #000;list-style-type: none;
	text-decoration: none;
}
.main_menu01:hover {
	float: left;
	background-image: url(../images/index16/menu_link_hover.jpg);
	color: #FFF;
	padding-right: 17px;
	padding-left: 16px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #ab7578;
	border-bottom-color: #ab7578;
	margin-top: 1px;
	height: 34px;
	line-height: 32px;list-style-type: none;
}
.main_menu_line01 {
	    border-right-width: 1px;
	    border-right-style: solid;
	    border-right-color: #999999;
	    width: 0px;
	    float: left;
	    height: 15px;
	    margin-top: 13px;
	    margin-bottom: 13px;
}
.main_menu_C {
	background-image: url(../images/index16/C_BG.jpg);
	float: left;
	padding-right: 14px;
	padding-left: 14px;
	margin-top: 1px;
	text-shadow: 1px 1px 3px #ffffcc;
}
.main_menu_N {
	background-image: url(../images/index16/N_BG.jpg);
	float: left;
	padding-right: 15px;
	padding-left: 14px;
	margin-top: 1px;
	text-shadow: 1px 1px 3px #ffffcc;
}

.main_menu_C:hover {
	background-image: url(../images/index16/C_BG_hover.jpg);

}
.main_menu_N:hover {
	background-image: url(../images/index16/N_BG_hover.jpg);
}


.main_navTool {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top : 38px;
    left: 0;
	width: 1099px;
	/*height: 402px;
	width: 1099px;
	position: absolute;*/
	z-index: 3;
	/*margin-top: 142px;*/
	font-family: "微軟正黑體";
	border: 1px solid #e4e4e4;
	font-weight: normal;
}

.nav_bg01 {
	background-image: url(../images/index16/navBg/01.png);
}
.nav_bg02 {
	background-image: url(../images/index16/navBg/02.png);
}
.nav_bg03 {
	background-image: url(../images/index16/navBg/03.png);
}
.nav_bg04 {
	background-image: url(../images/index16/navBg/04.png);
}
.nav_bg05 {
	background-image: url(../images/index16/navBg/05.png);
}
.nav_bg06 {
	background-image: url(../images/index16/navBg/06.png);
}
.nav_bg07 {
	background-image: url(../images/index16/navBg/07.png);
}
.nav_bg08 {
	background-image: url(../images/index16/navBg/08.png);
}
.nav_bg09 {
	background-image: url(../images/index16/navBg/09.png);
}
.nav_bg010 {
	background-image: url(../images/index16/navBg/010.png);
}
.nav_bg011 {
	background-image: url(../images/index16/navBg/011.png);
}
.nav_bg012 {
	background-image: url(../images/index16/navBg/012.png);
}
.nav_bg013 {
	background-image: url(../images/index16/navBg/013.png);
}
.nav_bg014 {
	background-image: url(../images/index16/navBg/014.png);
}

.navTool_left {
	float: left;
	height: 387px;
	width: 175px;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 35px;
	background-color: #FFF;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	/*margin-left: 9px;*/
}
.navTool_title {
	font-size: 22px;
	float: left;padding-left:8px;
	width: 174px;
	margin-bottom: 25px;
	font-weight: bold;
}


.color01 ,.color01 a{
	color: #ff3300;
}
.color02 ,.color02 a{
	color: #ff6600;
}
.color03 ,.color03 a{
	color: #339900;
}
.color04 ,.color04 a{
	color: #33cc99;
}
.color05 ,.color05 a{
	color: #00cccc;
}
.color06 ,.color06 a{
	color: #0099cc;
}
.color07 ,.color07 a{
	color: #0066cc;
}
.color08 ,.color08 a{
	color: #6633cc;
}
.color09 ,.color09 a{
	color: #9900cc;
}
.color010 ,.color010 a{
	color: #cc0099;
}
.color011 ,.color011 a{
	color: #cc0066;
}


/*.color01 ,.color01 a{
	color: #CC0000;
}
.color02 ,.color02 a{
	color: #ff3300;
}
.color03 ,.color03 a{
	color: #ff6600;
}
.color04 ,.color04 a{
	color: #ffcc00;
}
.color05 ,.color05 a{
	color: #99cc00;
}
.color06 ,.color06 a{
	color: #339900;
}
.color07 ,.color07 a{
	color: #33cc99;
}
.color08 ,.color08 a{
	color: #00cccc;
}
.color09 ,.color09 a{
	color: #0099cc;
}
.color010 ,.color010 a{
	color: #0066cc;
}
.color011 ,.color011 a{
	color: #6633cc;
}
.color012 ,.color015 a{
	color: #9900cc;
}
.color013 ,.color013 a{
	color: #cc0099;
}
.color014 ,.color014 a{
	color: #cc0066;
}
.color015 ,.color015 a{
	color: #cc6666;
}
.color016 ,.color016 a{
	color: #FF6666;
}
.color017 ,.color017 a{
	color: #FF9933;
}
.color018 ,.color018 a{
	color: #FFCC66;
}
.color019 ,.color019 a{
	color: #99CC66;
}
.color020 ,.color020 a{
	color: #669933;
}
.color021 ,.color021 a{
	color: #66CC99;
}
.color022 ,.color022 a{
	color: #66CCCC;
}
.color023 ,.color023 a{
	color: #3399CC;
}
.color024 ,.color024 a{
	color: #6699CC;
}
.color025 ,.color025 a{
	color: #9999CC;
}
.color026 ,.color026 a{
	color: #CC99CC;
}
.color027 ,.color027 a{
	color: #CC66CC;
}
.color028 ,.color028 a{
	color: #CC6699;
}*/

.navTool_Eng_title {
	font-family: "Century Gothic";
	font-size: 22px;
	/*float: left;*/
	line-height: 16px;
	font-weight: normal;
}

.ExploreMenu {
	/*color: #999999;*/
	text-align: right;
	font-size: 16px;
	float: left;
	width: 166px;
	padding-right: 20px;
	line-height: 24px;
        margin-left:8px;
        padding-left:4px;
        border-bottom:#eee 1px solid;
}

.ExploreMenu a{
	color: #000000;
	text-decoration: none;
}
.ExploreMenu:hover{

	text-decoration: underline;
}
.Sexplore {
	font-size: 12px;
    font-weight:normal;
}
.ExploreMenu_active {
	text-align: right;
	float: left;
	font-size: 16px;
	width: 154px;
	padding-right: 20px;
	line-height: 24px;
	font-weight: bold;
}

.ExploreMenu_active01,.ExploreMenu_active01 a {
	color: #CC0001;
	text-decoration: none;
}
.navTool_right {
	/*float: left;
	width: 840px;
	padding: 10px;*/
}
.recommendation_tool {
	width: 220px;
	float: left;
	margin-top: 28px;
	margin-left: 30px;
}
.recommendation_tool_title {
	font-size: 18px;
	padding-bottom: 10px;
	width: 220px;
	float: left;
	font-weight: bold;
}

.recommendation_eng {
	font-size: 16px;
	float: left;
	width: 220px;
	line-height: 10px;
	font-family: "Century Gothic";
	font-weight: normal;
}


.recommendation_pic {
}
.recommendation_txt {
	font-size: 12px;
	float: left;
	margin-top: 8px;
	letter-spacing: 2px;
	line-height: 16px;
	padding-left: 2px;
	padding-right: 2px;
	font-weight: bold;
}
.recommendation_txt01,.recommendation_txt01 a{
	color: #ff3300;
	text-decoration: none;

}




.recently_tool {
	width: 220px;
	float: left;
	margin-top: 28px;
	margin-left: 25px;
}
.recently_eng {
	font-size: 16px;
	float: left;
	width: 220px;
	line-height: 10px;
	font-family: "Century Gothic";
	font-weight: normal;
}


.recently_pic {
}

.recently_tool_title {
	font-size: 18px;
	padding-bottom: 10px;
	width: 220px;
	float: left;
	font-weight: bold;
}
.recently_txt {
	font-size: 12px;
	float: left;
	margin-top: 8px;
	letter-spacing: 2px;
	line-height: 16px;
	padding-left: 2px;
	padding-right: 2px;
	font-weight: bold;
}
.recently_txt01, .recently_txt01 a{
	color: #ff6600;
	text-decoration: none;

}
#schedule_Line {
	float: left;
	margin-top: 70px;
	margin-left: 20px;
}



.schedule_tool {
	width: 280px;
	float: left;
	margin-top: 28px;
	margin-left: 25px;
}
.schedule_tool_title {
	font-size: 18px;
	padding-bottom: 10px;
	width: 280px;
	float: left;
	font-weight: bold;
}
.schedule_tool_title01 {
	color: #ffcc00;

}
.schedule_eng {
	font-size: 16px;
	float: left;
	width: 220px;
	line-height: 10px;
}
.scheduleList_data {
	float: left;
	width: 280px;
	font-size: 14px;
	line-height: 26px;
}


.scheduleList {
	text-decoration: underline;
	float: left;
	width: 280px;
	font-size: 14px;
}


.scheduleList_more {
	background-image: url(../images/index16/schedule_buttonBg.png);
	background-repeat: no-repeat;
	background-position: 185px center;
	float: left;
        clear:both;
	height: 52px;
	width: 201px;
	margin-top: 20px;
	font-size: 18px;
	color: #FFF;
	padding-top: 15px;
	padding-left: 20px;
	text-decoration: none;
	border: 1px solid #FFF;
	font-weight: bold;
        line-height:18px;
}

.bg01 ,.bg01 a{
	background-color: #ff3300;
}
.bg02 ,.bg02 a{
	background-color: #ff6600;
}
.bg03 ,.bg03 a{
	background-color: #339900;
}
.bg04 ,.bg04 a{
	background-color: #33cc99;
}
.bg05 ,.bg05 a{
	background-color: #00cccc;
}
.bg06 ,.bg06 a{
	background-color: #0099cc;
}
.bg07 ,.bg07 a{
	background-color: #0066cc;
}
.bg08 ,.bg08 a{
	background-color: #6633cc;
}
.bg09 ,.bg09 a{
	background-color: #9900cc;
}
.bg010 ,.bg010 a{
	background-color: #cc0099;
}
.bg011 ,.bg011 a{
	background-color: #cc0066;
}

/*.bg01 ,.bg01 a{
	background-color: #CC0000;
}
.bg02 ,.bg02 a{
	background-color: #ff3300;
}
.bg03 ,.bg03 a{
	background-color: #ff6600;
}
.bg04 ,.bg04 a{
	background-color: #ffcc00;
}
.bg05 ,.bg05 a{
	background-color: #99cc00;
}
.bg06 ,.bg06 a{
	background-color: #339900;
}
.bg07 ,.bg07 a{
	background-color: #33cc99;
}
.bg08 ,.bg08 a{
	background-color: #00cccc;
}
.bg09 ,.bg09 a{
	background-color: #0099cc;
}
.bg010 ,.bg010 a{
	background-color: #0066cc;
}
.bg011 ,.bg011 a{
	background-color: #6633cc;
}
.bg012 ,.bg015 a{
	background-color: #9900cc;
}
.bg013 ,.bg013 a{
	background-color: #cc0099;
}
.bg014 ,.bg014 a{
	background-color: #cc0066;
}
.bg015 ,.bg015 a{
	background-color: #cc6666;
}
.bg016 ,.bg016 a{
	background-color: #FF6666;
}
.bg017 ,.bg017 a{
	background-color: #FF9933;
}
.bg018 ,.bg018 a{
	background-color: #FFCC66;
}
.bg019 ,.bg019 a{
	background-color: #99CC66;
}
.bg020 ,.bg020 a{
	background-color: #669933;
}
.bg021 ,.bg021 a{
	background-color: #66CC99;
}
.bg022 ,.bg022 a{
	background-color: #66CCCC;
}
.bg023 ,.bg023 a{
	background-color: #3399CC;
}
.bg024 ,.bg024 a{
	background-color: #6699CC;
}
.bg025 ,.bg025 a{
	background-color: #9999CC;
}
.bg026 ,.bg026 a{
	background-color: #CC99CC;
}
.bg027 ,.bg027 a{
	background-color: #CC66CC;
}
.bg028 ,.bg028 a{
	background-color: #CC6699;
}
*/
.schedule_Stxt {
	font-size: 12px;
}
.schedule_ENGtxt {
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
    /*width:160px;*/
	text-align:right;
	padding-right: 50px;
}


#banner_select {
	float: left;
	width: 365px;
	/*margin-left: 705px;*/
    margin-left: 985px;
	margin-top: 495px;
	height: 20px;
	font-family: "Century Gothic";
	font-size: 12px;
	position: absolute;
	z-index: 2;
}
.banner_selcet_number {
	float: left;
	height: 18px;
	width: 21px;
	background-image: url(../images/index16/numberBG.png);
	background-repeat: no-repeat;
	text-align: center;
	text-decoration: none;
	padding-top: 2px;
	color: #000;
	margin-right: 7px;
}
.banner_selcet_number:hover {
	background-image: url(../images/index16/numberBG_hover.png);
	background-repeat: no-repeat;
	color: #FFF;
}
.banner_selcet_numberC {
	float: right;
	height: 18px;
	width: 21px;
	background-image: url(../images/index16/numberC.png);
	background-repeat: no-repeat;
	text-align: center;
	text-decoration: none;
	padding-top: 2px;
	margin-left: 7px;
        margin-top:-2px;
}
.banner_selcet_numberN {
	float: right;
	height: 18px;
	width: 21px;
	background-image: url(../images/index16/numberN.png);
	background-repeat: no-repeat;
	text-align: center;
	text-decoration: none;
	padding-top: 2px;
	margin-left: 7px;
        margin-top:-2px;
}
.banner_selcet_numberHelp {
	float: right;
	height: 18px;
	width: 21px;
	margin-left: 7px;
        margin-top:-2px;
}

/*天結束*/

#Spotlight_tool {
	height: 310px;
	width: 713px;
	background-color: #FFF;
	float: left;
	clear: both;
	margin-top: 15px;
	border: 1px solid #cccccc;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-family: "微軟正黑體";
}
#Spotlight_left {
	float: left;
	width: 176px;
}
#Spotlight_title {
	height: 89px;
	width: 176px;
	float: left;
	margin-bottom: 32px;
}
#SpotlightTab_tool {
	font-family: "微軟正黑體";
	font-size: 12px;
}
.SpotlightTab_link {
	/*border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;*/
	line-height: 26px;
	padding-left: 15px;
}
.SpotlightTab_link a{
	color: #000;
	text-decoration: none;
}
.SpotlightTab_active {
	float: left;
	background-image: url(../images/index16/SpotlightTab_active.jpg);
	height: 26px;
	line-height: 26px;
	font-family: "微軟正黑體";
	font-size: 14px;
	color: #FFF;
	width: 200px;
	text-align: right;
	padding-right: 25px;
	position: absolute;
	z-index: 1;
}
.SpotlightTab_active a{
	color: #FFF;
	text-decoration: none;
}
#Spotlight_right {
	float: left;
}
.Spotlight_pic {
    float: right;
    height: 310px;
    width: 525px;
    background-image: url(images/index16/spotlight01.jpg);
    background-repeat: no-repeat;
    cursor:pointer;
}
.SpotlightTxt_BG {
	padding-left: 55px;
	width: 475px;
	background-image: url(../images/index16/spotlightTxt_BG.png);
	background-repeat: no-repeat;
	margin-top: 180px;
	height: 85px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.Spotlight_title {
	font-size: 18px;
	font-family: "Century Gothic", "微軟正黑體";
	color: #000000;
	line-height: 20px;
	padding-bottom: 7px;text-decoration: underline;
}
.Spotlight_title a{
	 text-decoration: none;
	 color: #000;
}

.Spotlight_List {
	font-family: "Century Gothic", "微軟正黑體";
	font-size: 12px;
	line-height: 18px;
}

.Spotlight_List a{
	color:#000;
	text-decoration:none;
}
#route_search_tool {
	height: 332px;
	width: 365px;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
	font-family: "微軟正黑體";
	font-size: 12px;
	line-height: 30px;
}
#search_tool {
	width: 365px;
	float: left;
	background-color: #FFF;
	padding-top: 18px;
	padding-bottom: 13px;
	margin-bottom: 17px;
}
#search_select {
	width: 298px;
	float: left;
	padding-top: 14px;
	background-image: url(../images/index16/searchBg.jpg);
	background-position: center bottom;
	background-repeat: repeat-x;
	margin-left: 35px;
}
.search_select_active {
	float: left;
	background-image: url(../images/index16/search_hover_act.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-right: 10px;
	padding-left: 10px;
	height: 38px;
}
.search_select {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	height: 38px;
}
.search_select:hover {
	float: left;
	background-image: url(../images/index16/search_hover_act.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-right: 10px;
	padding-left: 10px;
	height: 38px;
}
#search_link {
	width: 365px;
	float: left;
}
#LatestNews_tool {
	float: left;
	width: 403px;
	height: 280px;
	margin-top: 15px;
	border: 1px solid #cccccc;
	padding: 10px;
	background-color: #FFF;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 1px;
}
#LatestNews_title {
	height: 89px;
	width: 403px;
	float: left;
}
.LatestNews_dataList {
	float: left;
	padding-top: 12px;
	padding-bottom: 12px;
	width: 403px;
	clear: both;
}
.LatestNews_pic {
	float: left;
	height: 60px;
	width: 60px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
}
.LatestNews_Contentt {
	float: left;
	width: 290px;
        margin-top:25px;
        font-weight:bold;
}
.LatestNews_Btitle {
	float: left;
	width: 290px;
	text-decoration: none;
	line-height: 20px;
	margin-bottom: 10px;
}
.LatestNews_Btitle a{
	color: #000;
	text-decoration: none;
}
.LatestNews_Stxt {
	float: left;
	width: 290px;
}
.LatestNews_Stxt a{
	color: #000000;
}
.LatestNews_more {
	text-decoration: underline;
        padding-left:10px;
}
.LatestNews_line {
	width: 403px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #cccccc;
	height: 1px;
	clear: both;
}
#SpecialOffer_tool {
	height: 280px;
	width: 643px;
	border: 1px solid #cccccc;
	float: left;
	margin-top: 15px;
	background-color: #FFF;
	margin-left: 10px;
	padding: 10px;
}
#SpecialOffer_left {
	float: left;
	width: 175px;
}
#SpecialOffer_title {
	height: 89px;
	width: 176px;
	float: left;
	margin-bottom: 57px;
}
#SpecialOfferTab_tool {
	font-family: "微軟正黑體";
	font-size: 12px;
}
.SpecialOfferTab_link {
	/*border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;*/
	line-height: 26px;
	padding-left: 15px;
}
.SpecialOfferTab_link a{
	color: #000;
	text-decoration: none;
}
.SpecialOfferTab_active {
	float: left;
	background-image: url(../images/index16/SpecialOfferTab_active.jpg);
	height: 26px;
	line-height: 26px;
	font-family: "微軟正黑體";
	font-size: 14px;
	color: #FFF;
	width: 190px;
	text-align: right;
	padding-right: 25px;
	position: absolute;
	z-index: 1;
}
.SpecialOfferTab_active a{
	color: #FFF;
	text-decoration: none;
}
#SpecialOffer_right {
	float: left;
	width: 464px;
}
.SpecialOffer_pic {
	float: left;
	height: 280px;
	width: 464px;
}
#Explorer_tool {
    float: left;
    width: 303px;
    height: 280px;
    border: 1px solid #cccccc;
    background-color: #FFF;
    margin-top: 15px;
    margin-right: 10px;
    background-image: url(../images/index16/ExplorerBG.jpg);
    background-repeat: no-repeat;
    font-size: 12px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-position: 10px 10px;
}
.Explorer_DataList {
	padding: 20px;
	float: left;
	clear: both;
	width: 265px;
	background-image: url(../images/index16/Explorer_Sharings_listBG.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin-bottom: 1px;
	height: 51px;
	color:#000;
}

.Explorer_pic {
	float: left;
}
.Explorer_content {
	margin-left: 15px;
	float: left;
	width: 200px;
}
.Explorer_content a{
	color: #000;
	text-decoration: underline;
}
.Explorer_title {
	text-decoration: underline;
	float: left;
	width: 200px;
	padding-bottom: 4px;
	padding-top: 2px;
}
.Explorer_more {
	padding-top: 12px;
	width: 200px;
	padding-bottom: 4px;
	float: left;
	text-decoration: underline;
}
#Sharings_tool {
	float: left;
	width: 303px;
    height: 280px;
	border: 1px solid #cccccc;
	background-color: #FFF;
	margin-top: 15px;
	margin-right: 10px;
	background-image: url(../images/index16/SharingsBG.jpg);
	background-repeat: no-repeat;
	font-size: 12px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-position: 10px 10px;
}
.Sharings_DataList {
	float: left;
	clear: both;
	width: 265px;
	background-image: url(../images/index16/Explorer_Sharings_listBG.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin-bottom: 1px;
	height: 56px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-left: 20px;
        color:#000;
}
.Sharings_pic {
	float: left;
}
.Sharings_content {
	margin-left: 15px;
	float: left;
	width: 200px;
}
.Sharings_content a{
	color: #000;
	text-decoration: underline;
}
.Sharings_title {
	text-decoration: underline;
	float: left;
	width: 200px;
	padding-bottom: 4px;
	padding-top: 2px;
}
.Sharings_txt {
	width: 200px;
	float: left;
	padding-top: 10px;
}
.Sharings_more {
	width: 200px;
 	text-decoration: underline;       
}
#FB_tool {
	padding: 10px;
	float: left;
	height: 290px;
	width: 408px;
	margin-top: 15px;
	border: 1px solid #CCC;
	background-color: #FFF;
}
#TravelTool_area {
	clear: both;
	margin-right: auto;
	margin-left: auto;
	width: 1100px;
	height: auto;
	overflow: hidden;
}


#TravelInfo_tool {
	background-image: url(../images/index16/TravelInfoBG.jpg);
	float: left;
	margin-top: 15px;
	height: 95px;
	width: 436px;
	border: 1px solid #cccccc;
	padding-top: 35px;
	padding-left: 150px;
	background-position: left top;
	background-repeat: no-repeat;
	background-color: #ADF1DA;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 20px;
	text-align: left;
}
#TravelInfo_tool a{
	color: #000;
	text-decoration: underline;
}
#TravelTool_tool {
	background-image: url(../images/index16/TravelToolBG.jpg);
	float: left;
	margin-top: 15px;
	margin-left: 10px;
	height: 110px;
	width: 300px;
	border: 1px solid #cccccc;
	padding-top: 20px;
	padding-left: 200px;
}
/*超級館開始*/

#super_content {
	height: auto;
	width: 1119px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}
#super_left {
	height: auto;
	width: 276px;
	float: left;
	margin-top: 10px;
	margin-right: 9px;
	overflow: hidden;
}
#superSearch_tool {
	float: left;
	height: auto;
	width: 245px;
        background:#fff;
	margin-left: 9px;
        padding-top:30px;
        padding-left:10px;
        padding-right:10px;
}
#super_title {
	color: #bd0008;
        float:left;
        width:245px;
}
.super_stitle {
	font-family: "微軟正黑體";
	font-weight: bold;
	color: #bd0008;
	font-size: 35px;
        line-height:38px;
        border-bottom:solid 5px #bd0008;
}

.super_travel {
	font-size: 13px;
	color: #666;padding-left:5px;
}
.super_english {
	font-size: 18px;
	color: #666;
	float: left;
	width: 245;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-top: 10px;
	margin-left: 10px;
}
.super_pinkTitle {
	background-image: url(../images/super/superpink.png);
	width: 260px;
	float: left;
	background-repeat: no-repeat;
	padding-left: 15px;
	height: 33px;
	line-height: 28px;
	font-size: 14px;
	letter-spacing: 1px;
}

.msgList {
	margin: 0 0px 15px 0;
	padding: 0;
	width: 276px;
	float: left;
        }

.msgHead {
	background-image: url(../images/super/superpink.png);
	width: 260px;
	float: left;
	background-repeat: no-repeat;
	padding-left: 15px;
	height: 33px;
	line-height: 28px;
	font-size: 14px;
	letter-spacing: 1px;
	/*padding: 5px 10px;
    cursor: pointer;*/
	position: relative;
    /*background-color: #808080;
    margin: 1px;*/
}

.slideUp,.slideDown {
}

.slideUp {
	border-color: #fcc;
	bottom: 6px;
	right: 5px;
}

.msgBody {
	float: left;
	line-height: 32px;
	width: 254px;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	margin-left: 10px;
	background-color: #FFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #eeeeee;
	border-left-color: #eeeeee;
	font-size: 12px;
	font-family: "Century Gothic", "微軟正黑體";
}

#super_KeywordText {
	float: left;
	line-height: 25px;
	width: 254px;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	margin-left: 10px;
	background-color: #FFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #eeeeee;
	border-left-color: #eeeeee;
}
#super_ps {
	float: left;
	font-size: 12px;
	font-family: "Century Gothic", "微軟正黑體";
	line-height: 14px;
	width: 250px;
	height: 14px;
	padding-top: 5px;
}
#super_ps a{
	color:#010101;
	text-decoration:none;
}
#super_ps a:hover{
    background:#ff787e; 
	color:#010101;
	text-decoration:none;
}
#super_searchBoxTool {
	width: 254px;
	float: left;
	margin-left: 10px;
	background-color: #FFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #eeeeee;
	border-left-color: #eeeeee;
	padding-left: 10px;
	font-family: "Century Gothic", "微軟正黑體";
	font-size: 12px;
	line-height: 32px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eeeeee;
}

#super_news {
	float: left;
	height: 185px;
	width: 265px;
	background-image: url(../images/super/supernewshead.jpg);
	background-repeat: no-repeat;
	background-color: #FFF;
	margin-left: 9px;
	border: 1px solid #eeeeee;
}

#super_ntitle {
	float: left;
	height: 20px;
	width: 255px;
	color: #bd0008;
	margin-bottom: 20px;
	margin-top: 10px;
	margin-left: 10px;
}
.super_nbox {
	float: left;
	width: 245px;
	margin-top: 0px;
	margin-left: 10px;
	padding-bottom: 10px;
	height: auto;
}

.super_npic {
	height: 50px;
	width: 60px;
	float: left;
	margin-right: 10px;
}
.super_ntxt {
	float: left;
	font-family: "微軟正黑體";
	font-size: 12px;
	margin-left: 5px;
	color: #010101;
	width: 170px;
}

.super_ntxt a{
	color: #010101;
}
.super_nboxLine {
	float: left;
	clear: none;
	width: 245px;
	margin-left: 10px;
	height: 1px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #666;
	margin-bottom: 10px;
}

.super_bt {
	height: 48px;
	width: 263px;
	float: left;
	margin-top: 10px;
	border: 1px solid #ffffff;
	margin-left: 10px;
}
#super_right {
	float: left;
	height: auto;
	margin-top: 10px;
	width: 825px;
	margin-left: 0px;
}
.superBox_border {
	float: left;
	width: 12px;
	height: 380px;
}
.super_box {
	height: 380px;
	width: 265px;
	float: left;
	background-color: #FFF;
	margin-bottom: 10px;
        margin-right:0px;
        margin-left:10px;
}

.super_pic {
	float: left;
	height: 255px;
	width: 265px;
}

.super_pic a{ display:block; width:265px; height:255px; overflow:hidden; cursor:pointer; position:relative;}
.super_pic a img{ display:block; width:265px; height:255px; overflow:hidden;}
.pichover{ z-index:1; position:absolute; bottom:0px; left:0px;  line-height:17px; overflow:hidden; display:none; }
.picdefault{ z-index:2; position:absolute; bottom:0px; left:0px;  line-height:17px; overflow:hidden; }

.super_box_title {
	font-family: "微軟正黑體";
	font-size: 12px;
	height: 34px;
	float: left;
	width: 235px;
	text-align: left;
	-webkit-box-shadow: 1px 0px 2px #ddd;
	-moz-box-shadow: 1px 0px 2px #ddd;
	box-shadow: 1px 0px 2px #ddd;
	padding-left: 10px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	line-height: 16px;
}
.Boxcol {
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #a50007;
}

.Boxco2 {
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #ff8921;
}

.Boxco3 {
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #01b4cb;
}

.Boxco4 {
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #ff0000;
}

.super_box_txt {
	font-family: "Century Gothic", "微軟正黑體";
	font-size: 12px;
	float: left;
	color: #666;
	width: 255px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #999;
	padding-top: 5px;
	padding-left: 10px;
	border-top-width: 1px;
	text-align: left;
	height: 40px;
}
.super_price {
	font-family: "Century Gothic", "微軟正黑體";
	font-size: 12px;
	color: #c00000;
	float: left;
	width: 255px;
	text-align: left;
	margin-left: 10px;
	font-weight: normal;text-shadow: 0px  -1px 1px #ddd,
}
.link_red a{
	color: #d80000;
	text-decoration: underline;
}

/*超級館結束*/

#footer {
	/*margin-top: 15px;*/
	width: 1100px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}
#footer_link {
	background-image: url(../images/index16/footerLinkBG.jpg);
	background-repeat: repeat-x;
	line-height: 40px;
	font-size: 12px;
	text-align: center;
	letter-spacing: 1px;
	color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
}
#footer_link a{
	color: #FFF;
	text-decoration: underline;
}
#footer_info {
	background-image: url(../images/index16/footerInfoBG.jpg);
	background-repeat: repeat-x;
	color: #FFF;
	font-size: 12px;
	line-height: 20px;
	padding-top: 30px;
	padding-bottom: 80px;
	letter-spacing: 1px;
}
#footer_info a{
	color: #FFF;
	text-decoration: underline;
}


/* 地區列表(下) */
#area_list_tool {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    /*float: left;*/
    height: 335px;
    width: 1060px;
    background-image: url(../images/index16/area_bg.jpg);
    padding-left: 40px;
    padding-top: 40px;
    clear:both;
}

.index_area_list {
    font-family: "微軟正黑體";
    font-size: 12px;
    line-height: 22px;
    color: #FFFFFF;
    height: auto;
    width: auto;
    float: left;
    margin-right: 15px;
    letter-spacing: 1px;
    width: 60px;
}
.index_area_list a {
    text-decoration:none;
    color: #FFFFFF;
}
