	a img {
		border: none;
	}
	#abgne_fade_pic {	
	    float:left;
	    width: 1080px;
	    /*background: #000;*/
	    height: 525px;
	    z-index: 1;
	    position: absolute;
	    /*border: 10px solid #FFF;*/
		}

	#abgne_fade_pic a.ad {
	    position: absolute;	/* 讓圖片疊在一起 */
	    float: left;
	}
	#abgne_fade_pic .control {
        float: right;
	    font-size: 12px;
        right: 20px;
        margin-top:485px;
	    position: absolute;
	}
	#abgne_fade_pic .control a {
        float: left;
	    height: 18px;
	    width: 21px;
	    background-image: url(../images/index16/numberBG.png);
	    background-repeat: no-repeat;
	    text-align: center;
	    text-decoration: none;
	    padding-top: 2px;
	    color: #000;
	    margin-right: 7px;
	}
	#abgne_fade_pic .control a.on {
        background-image: url(../images/index16/numberBG_hover.png);
	    background-repeat: no-repeat;
	    color: #FFF;
	}