
    /*子選單內容CSS*/
    .listReset{ 
        list-style:none;
    }
    .tabPanel{ 
        width:1099px; 
        height:382px;
    }
    .tab-content{ 
        width:840px; 
        height:100%; 
        position:absolute; 
        left:230px;
    }
    .detail{ }
    .switch{ 
        width:175px;
        position:absolute;
    }
    .switch a{ display:block; line-height:40px; text-indent:1em; color:#000000; *height:40px;}
    .switch:hover{ color:#000;text-decoration:underline; }

    a.now-tab, a.now-tab:hover{
        color: #CC0001;
        font-weight: bold;
        border:0;
    }

    #menu ul.switch{
        list-style: none;
        top:100px; 
        margin-left:-42px;
    }

    /*浮動選單 CSS*/
    #top-bar{
	position:fixed;
        top:9999px;
        z-index: 9999;
    }

