/* 表頭 */
.header-link{
    background-color:rgb(255, 255, 255);
}

.nav-bg{
    background-color: #8c001a;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}

.nav_wrap{
    justify-content: center;
}

.under_line{
    background-color: #fff;
    height: 4px;
}

.nav_box .under_line.active{
    background-color: #f8ffd1;
}

.menu-pc .add-high{
    height: 50px;
}

.nav-title{
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.1rem;
    white-space: nowrap;
}

.nav-title:hover,
.nav_box .nav_boxtitle:hover{
    color: #f8ffd1;
}

.nav_box .nav_boxtitle{
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.1rem;
    white-space: nowrap;
}

.nav_box {
    padding: 15px 0;
}

#top-menu a{
    font-size: 18px !important;
    line-height: 40px;
}

/* 表頭logo */
#logo{
    margin: auto;
}

.logo-w{
    width: 80%;
    margin: 10px 0;
}

/*   header 社群icon */
#top-menu {
    float: none !important;
    position: relative;
}

.urlfab{
    padding-left: 3px;
}

.social-icon-one {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
    float: right;
    padding-top: 10px;
}

.social-icon-one li {
	position: relative;
}
.urlfab-url-facebook-f {
	position: relative;
	display: block;
	line-height: 40px;
	height: 40px;
	width: 40px;
	text-align: center;
	font-size: 16px!important;
	border-radius: 50%;
    color: #ffffff!important;
    background-color: rgb(140 0 26);
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.urlfab-url-line {
	position: relative;
	display: block;
	line-height: 40px;
	height: 40px;
	width: 40px;
	text-align: center;
	font-size: 16px!important;
	border-radius: 50%;
    color: #ffffff!important;
    background-color: rgb(140 0 26);
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.urlfab-url-instagram {
	position: relative;
	display: block;
	line-height: 40px;
	height: 40px;
	width: 40px;
	text-align: center;
	font-size: 16px!important;
	border-radius: 50%;
    color: #ffffff!important;
    background-color: rgb(140 0 26);
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.urlfab-url-youtube {
	position: relative;
	display: block;
	line-height: 40px;
	height: 40px;
	width: 40px;
	text-align: center;
	font-size: 16px!important;
	border-radius: 50%;
    color: #ffffff!important;
    background-color: rgb(140 0 26);
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.urlfab-url-facebook-f:hover{
    background-color:  #3b5998;
    border: 1px solid #3b5998;
    color: #ffffff!important;
}

.urlfab-url-line:hover{
    background-color:  #06c755;
    border: 1px solid #06c755;
    color: #ffffff!important;
}

.urlfab-url-instagram:hover{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    border: 1px solid  #fd5949;
    color: #ffffff!important;
}

.urlfab-url-youtube:hover{
    background: #FF0000;
    border: 1px solid #FF0000;
    color: #ffffff!important;
}

/*   header icon 2 會員登入/註冊   */
.social-icon-two {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    float: right;
    padding-right: 20px;
    padding-top: 10px;
}

.social-icon-two .iocn {
    padding-right: 20px;
}
    
.social-icon-two li {
    position: relative;
}
.social-icon-two li a {
    position: relative;
    display: block;
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-weight: 700 !important;
    color: #333333 !important;
    font-size: 16px!important;
    padding: 0 10px 4px;
    border-radius: 5px;

    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.social-icon-two li a:hover {
    color: #d4443f !important;   
}

/*  機+酒  */
.nav_flex{
    display: flex!important;
}

.card ul {
    overflow: hidden;
    position: relative;
    padding: 0 0 0 5px;
    margin: 0;
    min-width: 4rem;
    font-size: 16px;
    height:16px;
  }
  
  .card ul li {
    display: block;
    height: 100%;
    color: #f8ffd1;
    animation: rotate-the-words 6s infinite;
  }

@keyframes rotate-the-words {
    10% {
      transform: translateY(-112%);
    }
    25% {
      transform: translateY(-100%);
    }
    35% {
      transform: translateY(-212%);
    }
    50% {
      transform: translateY(-200%);
    }
    60% {
      transform: translateY(-312%);
    }
    75% {
      transform: translateY(-300%);
    }
    85% {
      transform: translateY(-412%);
    }
    100% {
      transform: translateY(-400%);
    }
}
  

/* 國外旅遊 選單展開 */
.sub_menu_box{
    padding: 20px 10px;
}

.sub_menu{
    margin-top: 25px;
    background-color: #ffffffef;
    width: 85%;
    left: 8%;
}

.sub_sub_menu_wrap {
    opacity: 0;
    visibility: hidden;
    height: auto;
    overflow: hidden;
    transition: opacity 0.7s, visibility 0.3s, height 0.3s;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 0;
    overflow: hidden;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 100%;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    background-color: #ffffffdc;
    border-top: 1px solid  #d1d1d1;
    width: 100%;
}

.sub_menu_list_w{
    width: 25%;
}

.sub_menu_list_w2{
    width: 16%;
}

.nav_box .sub_menu .sub_menu_box:first-child .sub_sub_menu_wrap.active {
    min-height: 420px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.nav_box .sub_menu .sub_menu_box .sub_sub_menu_wrap.active {
    min-height: 420px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.sub_menu_title span {
    display: block;
    color: rgb(255, 255, 255);
    width: 100%;
    text-decoration: none;
    background-color: #bf1434;
    border-radius: 5px;
    transition: 0.3s;
    padding: 10px 10px;
    white-space:nowrap;
}

.sub_menu_title span.active{
    background-color: #fff;
    border: 1px solid #bf1434;
    color: #bf1434;
    padding: 10px 10px;
}

.lane{
    font-size: 20px;
    font-weight: 700 !important;
    color: #bf1434;
}

.nav_box li a{
    font-weight: 500;
    line-height: 25px;
    white-space:nowrap;
}

.nav_box li a:hover {
    color: rgb(225, 41, 76);
    font-weight: 700;
}

.lane::after{
    display: none;
}

.two_column{
    flex-direction:none;
    display: block !important;
}

.sub_menu_list li {
    font-size: 15px;
    color: #333333;
    padding: 0.5rem 0 0 0;
}

.lane-w li{
    width: 45%;
}

.sub_menu_subtitle{
font-size: 15px;
color: #717070;
white-space: nowrap;
}

.user-font{
    font-size: 16px;
    font-weight: 600 !important;

    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.user-font:hover {
    font-weight: 800 !important;
}

.fa-s{
    font-size: 20px !important;
    padding-top: 5px;
}

.fa-long-arrow-righ{
    padding-right: 2px;
}

.laned-flex2{
    display: flex!important;
}


 /*   主打行程   */
 .bread{
    background-color: #f2f2f2;
    line-height: 36px;
    height: 36px;
 }

 .bread li a{
    color: #333333;
    font-size: 16px;
    padding: 5px 0;
    letter-spacing: 0.1rem;
    font-weight: 500;
    text-decoration:none;
 }
 .bread li a:hover {
    text-decoration:none;
}

 .bread li{
    float: left;
 }

.Japan, .Japan2 {
    margin-left: auto;
    width: 45%;
    max-width: 50%;
    margin-right: 1em;
    align-items: center;
    position: relative;
    display: flex;
    color: #F22478;

    left: 30px;
}

.stroke_content img {
    margin: auto 5px;
    width: 20px;
    height: 20px;
}

.stroke_content h5 {
    margin: 0 5px;
}

#price_project {
    display: flex;
    justify-content: left;
    width: 150px;
    max-width: 150px;
    flex-wrap: nowrap;
}

#price_project p {
    position: relative;
    padding-top: 30px;
    line-height: 0;
}



.result {
    padding-left: 5px;
    width: 68%;
    color: #676767;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*  footer  */
footer#footer{
    background-color: #8c001a;
}

/*   固定  */
.d-flex{
    display: flex;
}

 .w-85{
    width: 85%;
}

.w-60,
.sub_menu_w60{
    width: 60%;
}

.pr-3,
.px-3 {
	padding-right: 1rem !important;
}

.pl-3,
.px-3 {
	padding-left: 1rem !important;
}

.pr-5,
.px-5 {
	padding-right: 3rem !important;
}

.pl-5,
.px-5 {
	padding-left: 3rem !important;
}

.pl-15{
    padding-left: 15px;
}




/*   @media  width  */
@media (min-width: 992px) { 
    /* banner */
    .banner-pt{
        margin-top: 6px !important;
    }
    /* banner  end*/

    .laned-flex{
        display: flex !important;
    }
}

@media (min-width: 1400px) { 
    /* banner */
    .banner-pt {
        margin-top: 16px !important;
    }
    /* banner  end*/
}

@media (max-width: 1399.98px) { 
    .sub_menu{
        width: 100%;
        left: 0;
    }
    .sub_menu_box {
         padding: 20px 8px;
    }

    /*主打行程*/
    .stroke_content a {
        width: 400px;
    }
    
    .result {
        width: 50%;
    }
    
    .Japan, .Japan2 {
        width: 30%;
        max-width: 50%;
    }
    /*主打行程 end*/  

    .card ul {
        font-size: 14px;
    }

}

@media (max-width: 1199.98px) { 

    .pr-3,
    .px-3 {
        padding-right: 3rem !important;
     }
    
    .pl-3,
    .px-3 {
        padding-left: 3rem !important;
    }

    .section {
        display: flex;
        max-width: 90%;
        overflow-x: auto;
        box-shadow: 0 3px 10px 0 rgba(#000, 0.1);
        -webkit-overflow-scrolling: touch;
        scroll-padding: 1rem;
        padding: 0 1rem;
    }

    .sub_menu_title span {
        font-size: 14px;
        white-space: nowrap;
    }
    
    .nav_box {
        padding: 15px 0;
        margin: 0 0.5rem;
    }
    
    .sub_menu_box {
        padding: 10px 10px;
    }
    
    .sub_menu_list{
        display: grid;
        padding: 0 50px;
    }

    .sub_menu_45{
         width: 45%;
    }

    .sub_menu_100{
        width: 100%;
    }

    .sub_menu_title.sub_menu_title_open + .sub_sub_menu_wrap .sub_menu_list li {
        line-height: 23px;
        padding-top: 0;
    }

    .sub_menu{
        width: 100%;
        left: 0;
    }

    .sub_sub_menu_wrap {
        width: 100vw;
    }


    .nav_box .sub_menu .sub_menu_box:first-child .sub_sub_menu_wrap.active {
        height: 650px;
    }

    .lane {
        margin-bottom: 8px;
    }

    .main-banner{
        padding-top: 78px !important;
    }

    .sub_menu {
        margin-top: 25px;
    }

    .sub_menu_w60{
        width: 80%;
    } 
}

@media (max-width: 1023.98px) { 
    /*主打行程*/
    .Japan, .Japan2 {
        width: 80%;
        max-width: 100%;
    }
     /*主打行程 end*/ 
}

@media (max-width: 991.98px) { 

     .nav_box {
         margin: 0 0.5rem;
    }
    .nav_box .nav_boxtitle,
    .nav-title {
        font-size: 15px;
    }

    .card ul {
        font-size: 14px;
    }

    .lane-d-flex{
        display: flex;
    }

    .social-icon-two{
        padding-right: 0;
    }

    /*主打行程*/
       .Japan, .Japan2 {
        margin-left: inherit;
       display: flex;
       width: 100%;
       max-width: 100%;
       margin-right: 1em;
       left: 0;
   }
     /*主打行程 end*/

     #top-menu {
        display: none!important;
    }

    nav#nav {
        display: none!important;
    }

    .menu-btn {
        display: flex;
        background-color: #ffffff!important;
        color: #000000!important;
        align-items: center;
        font-size: 1.5rem;
        margin-top: 10px;
        margin-right: 0;
        margin-left: auto;
    }

    header#header{
        height: 0!important;
    }

    .header-link{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    .pushy-mobileShow {
        display: block;
    }
}

@media (max-width:768px) {
    #main-banner, .main-banner .item img {
        height: auto;
    }

    .pushy a {
        padding: 20px 10px 20px 20px;
    }

    .logo-w {
        width: 75%;
        margin: 12px 0 10px;
    }

    .main-banner {
        padding-top: 115px !important;
    }

    header#header{
        height: 100px!important;
    }

}

@media screen and (max-width: 768px) {
    #logo-m {
        padding: 10px 0;
    }
    
    .menu-btn {
        margin-top: 18px;
    }

    header#header {
     background-color: transparent;
     }
}

