.banner{
  width:100%;
  margin-top: 100px;
  margin-bottom: 50px;
}
.banner img{
  width: 100%;
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.col-2 {
  flex: 0 0 15%;
  max-width: 25%;
  box-sizing: border-box;
  text-align: center;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  box-sizing: border-box;
  text-align: center;
}
.col-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  text-align: center;
  
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  box-sizing: border-box;
  text-align: center;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
  box-sizing: border-box;
  position: relative;
}

main{
  margin-bottom: 50px;
}
.nav{
  display: flex;
  justify-content: center;
  border-right: 1px solid grey;
}
.mb-nav{
  display: none;
}
.nav-container{
  display: flex;
  width: fit-content;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}
.nav-container button{
  width: max-content;
  border-right: 1px solid grey;
  padding: 10px 12px 10px 12px !important;
  position: relative;
}
.nav-container button:last-child{
  border: 0;
}
.mb-nav .tab-link.active::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 80%;
  height: 2px;
  background-color: #8C001A;
  transform: translateX(-50%);
}
.tab-btn{
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content: left;
  width: max-content;
}
.tab-link{
  background-color: transparent;
  border: 0;
  padding: 5px 0 15px 0;
}
.tab-link:hover{
  color: #8c100a;
  transition: .3s;
  cursor: pointer;
}
.tab-link.active{
  color: #8c100a;
}
.tab-content{
  display: flex;
  justify-content: center;
}
.tab-pane{
  width: 80%;
}
.tab-pane h2,.tab-pane h3{
  margin-bottom: 15px;
}
.tab-pane p{
  line-height: 2rem;
  margin-bottom: 1rem;
}
.red{
  color: #8c100a;
}
.h-blue{
  color: #1F53B5;
}
.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}
.tab4-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 35px 0;
}
.tab4-icon img{
  width: 100px;
}
.img-container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.img-container img{
  width: 90%;
  max-height: 450px;
  object-fit: cover;
  border-radius: 10px;
}
.tab2-img-2,.tab2-img-3{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.tab2-img-2 img{
  width: 45%;
  max-height: 450px;
  object-fit: cover;
  border-radius: 10px;
}
.tab2-img-3 img{
  width: 30%;
  max-height: 450px;
  object-fit: cover;
  border-radius: 10px;
}
#tab2 .img-container img{
  margin-bottom: 20px;
}
.logo-box{
  width: 80%;
  box-sizing: border-box;
  margin: 0 10% 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divide-line{
  background-color: grey;
  width: 1px;
  height: 80px;
  margin: 0 50px 0 50px ;
}
.box1{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.box1-left{
  width: 35%;
}
.box2-container{
  width: 65%;
  display: flex;
  flex-wrap: wrap;
}
.box2{
  width: 33%;
  text-align: center;

}
.box2 img{
  width: 50%;
}
.tab2-pic{
  width: 100%;
}
.tab3-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.tab3-02-pic{
  width: 50%;
  margin-bottom: 30px;
}
.tab3-03-pic{
  width: 30%;
  margin-right: 30px;
}
.a-container{
  display: flex;
}
.a-container a{
  text-decoration: none;
  background-color: #EFBDBD;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 20px;
}
.a-container a:hover{
  background-color: #B51F1F;
  transition: .3s;  
}
@media (max-width: 768px) {
  .banner{
    margin-top: 70px;
    margin-bottom: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .banner img{
    height: 30vh;
    width: auto;
  }
  .nav {
    display: none;
  }

  .col-sm-6 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }

  .col-sm-12 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .mb-nav {
    display: block;
    max-width: 100%;
    overflow-x: auto;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 20px;
  }
  .col-9::after {
    content: '';
    position: absolute;
    left: 50%;
    top: -20px;
    width: 80%;
    height: 1px;
    background-color: #B5B5B5;
    transform: translateX(-50%);
    }
  .tab-link.active {
    color: black;
  }
  .box1{
    align-items: center;
  }
  .box1-left {
    width: 80%;
    margin-bottom: 25px;
  }
  .box2-container{
    width: 100%;
  }
  .tab2-img-2 img,.tab2-img-3 img{
    width: 100%;
    margin-bottom: 15px;
  }
  .tab3-02-pic{
    width: 100%;
  }
  .tab3-03-pic{
    width: 100%;
    margin-right: 0;
  }
  .a-container{
    justify-content: space-between;
  }
  .a-container a{
    margin-right: 0;
  }
  .tab3-box{
    display: block;
  }
  .tab4-icon{
    flex-wrap: wrap;
  }
  .tab4-icon span{
    width: 65%;
  }
  .logo-box{
    flex-direction: column;
  }
  .logo-box img{
    margin: 1rem 0;
  }
  .divide-line{
    display: none;
  }
  .a-container a{
    padding: 1rem;
  }
}